{% extends 'journals/base.html' %}

{% block page_header %}
    <h1 class="text-center mb-4">{{ journal.topic }}</h1>
{% endblock page_header %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <p class="card-text"><strong>Written by:</strong> {{ journal.writer }}</p>
            <p class="card-text">{{ journal.body }}</p>
            <p class="card-text"><small class="text-muted">Created at: {{ journal.date_created|date:'D d M Y' }}</small></p>
            <p class="card-text"><small class="text-muted">Last updated: {{ journal.date_updated|date:'D d M Y' }}</small></p>
            <a href="{% url 'update' journal.id %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'delete' journal.id %}" class="btn btn-danger">Delete</a>
        </div>
    </div>
{% endblock content %}